.mutation-card {
  padding: 24px;
}

mat-card-title {
  color: var(--primary-color);
  margin-bottom: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  margin-top: 16px;
}

.full-width {
  width: 100%;
}

.actions {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: var(--primary-color);
}

mat-icon {
  color: #0d6efd;
}